.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.joke-form input {
  margin: 15px;
  padding: 5px;
  background: beige;
}

.add-fun {
  border-radius: 5px;
  background: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.top.attached.menu {
  display: flex;
  justify-content: center;
  
}
.ui.attached.menu:not(.tabular){
  border: none;
  width: 70%; 
  margin: 0 auto; 
}
.ui.menu {
  background: rgb(86, 177, 173);
  display: flex;
  justify-content: center; 
}
.ui.menu img {
  margin: 0 40px 0 10px;
}
.ui.menu h1 {
  color: white;
  display: flex; 
  align-items: center; 
  
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child{
  margin-top: 0;
}

.nav {
  font-size: 2vh; 
  margin: 30px; 
  width: 8vw; 
}

.ui.menu:not(.vertical) .item {
  font-size: 2rem; 
}

.oops-image {
  margin-left: 11%; 
  width: 75%;
  height: auto; 
}