/* Home page, Public feed, and Footer css */


/* BEGINNING of HomePageGrid.jsx CSS 
.home-container contains .daily-joke-container 
.daily-joke-container contains .dad-quote-img and .daily-joke 
*/

.home-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    width: 70%; 
    margin: 0 auto; 
}

.daily-joke-container { 
    height: auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    text-align: center;
    margin: 0 auto;      
}

.dad-quote-img {
    width: 100%; 
    height: auto; 
    object-fit: fill; 
}

.daily-joke {
    width: 30%; 
    position: absolute;
    font-size: 2vw; 
    line-height: 1.5; 
    text-align: end;  
    margin-left: 32%; 
}
/* END of HomePage.jsx CSS */



/* BEGINNING of HomePageGrid.jsx CSS 
.home-grid-container contains .home-grid (container for icons that link to pages)
.home-grid contains 
    -.ui.input (search bar)
    -.ui.grid>.column:not(.row), .ui.grid>.row>.column (icons/images container)
    -.home-grid-img (icons/images)
*/
.home-grid-container { 
    width: 70%; 
    margin: 20px auto; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  
}

.home-grid {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly; 
}

.ui.input {
    width: 100%; 
    height: 40px; 
    font-size: 1.5rem;  
    margin: 30px auto;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    position: relative;
    display: inline-block;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
}

.home-grid-img {
    width: auto; 
    height: 15vh; 
}
/* END of HomePageGrid.jsx CSS */



/* BEGINNING of PublicJokes.jsx CSS 
.public-joke-feed (container that holds the joke cards)
*/

.public-joke-feed {
    width: 70%; 
    margin: 0 auto; 
}
/* END of PublicJokes.jsx CSS */



/* BEGINNING of PublicJokeCard.jsx CSS 
.public-card (a single joke card)
.ui.segment (all joke card text)
*/

.public-card {
    width: 100%; 
    margin: 40px 0; 
}

.ui.segment {
    font-size: 2rem;
}
/* END of PublicJokeCard.jsx CSS */



/* BEGINNING of Footer.jsx CSS 
.footer-container contains .footer-links
*/

.footer-container {
    width: 70%; 
    display: flex; 
    flex-direction: row;  
    justify-content: space-between; 
    margin: 0 auto; 
    font-size: 1.2vw; 
    color: white; 
}

.footer-links {
    display: flex; 
    flex-direction: row;  
    justify-content: space-between; 
    width: 35%; 
}
/* END of Footer.jsx CSS */