/* BEGINNING of PublicJokes.jsx CSS 

.public-joke-feed (container that holds the joke cards)

*/

.public-joke-feed {
	margin: 0 auto;
}
/* END of PublicJokes.jsx CSS */

/* BEGINNING of PublicJokeCard.jsx CSS 

.public-card (a single joke card)

.ui.segment (all joke card text)

*/

.public-joke-container {
	width: 100%;
	margin: 0 auto;
}

.public-card {
	width: 75%;
	margin-bottom: 40px;
	margin-left: 11%;
}

.ui.segment {
	font-size: 2rem;
}
/* END of PublicJokeCard.jsx CSS */

.profile-form {
	display: flex;
	justify-content: center;
	margin-left: 11%;
	padding: 80px 0;
	width: 75%;
	background: white;
}
